# D:\AI-Lib\app\requirements.txt
numpy  
fastapi
uvicorn[standard]
sqlalchemy
PyMySQL
pydantic[email]
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
itsdangerous
pydantic-settings
python-multipart
pytz
httpx