fastapi
uvicorn
opencv-python-headless
numpy
# Hạ cấp TensorFlow và KHÔNG cài đặt tf-keras riêng
tensorflow==2.15.0 # Hoặc 2.10.0 nếu 2.15.0 vẫn gây vấn đề
deepface
mtcnn
sqlalchemy
pymysql
pydantic
cryptography
python-multipart