# requirements.txt (for your admin backend)
fastapi
uvicorn[standard]
sqlalchemy
PyMySQL
pydantic[email]
pydantic-settings
python-dotenv
passlib[bcrypt] # Still good to have for future password hashing
python-jose[cryptography]
itsdangerous
python-multipart # For File Uploads
httpx           